.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #007bff;
  color: #007bff;
}

.pagination .active {
  background-color: #007bff;
  color: white;
}

html,
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(35, 33, 33);
  color: white;
  padding: 0;
  margin: 0;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input {
  border: 1px solid #007bff;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #333;
}

input:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 91, 179, 0.5);
}

select {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid #0056b3;
  border-radius: 5px;
  padding: 2px;
  font-size: 16px;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #003f7f;
  box-shadow: 0 0 5px rgba(0, 63, 127, 0.5);
}
